* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-size: 20px;
  width: 100%;
}

div {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  width: 500px;
  height: 50px;
  float: left;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 20px;
}

button[type="submit"],
button {
  display: block;
  width: 100px;
  height: 52px;
  border: 0;
  background-color: black;
  color: white;
  margin-left: 50px;
  font-size: 20px;
  margin-bottom: 5px;
}

button[type="submit"]:hover,
button:hover {
  color: black;
  background-color: darkgray;
  margin-right: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 50px;
  margin-top: 20px;
}

button {
  margin: 0;
  margin-top: 10px;
}

button.showhide {
  margin: 50px auto;
  width: 500px;
}
