* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}
