* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  width: 100%;
  font-family: sans-serif;
}

table {
  width: 400px;
  margin: 0 auto;
  margin-top: 80px;
  border-collapse: collapse;
}

td {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
