* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 700px;
  background-color: rgb(230, 235, 245);
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 40px;
  padding-top: 30px;
  border-radius: 7px;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding-left: 10px;
  padding-bottom: 5px;
  color: rgb(29, 44, 77);
  clear: both;
  position: relative;
}

input {
  border-radius: 5px;
  font-size: 1.2em;
  padding: 13px 10px;
  border: 1px solid rgb(174, 186, 211);
  margin-bottom: 20px;
  width: 40%;
  float: left;
  clear: both;
}

#agree {
  width: 10px;
  height: 50px;
  float: left;
  clear: both;
}

label[for="agree"] {
  display: inline-block;
  font-weight: normal;
  width: 400px;
  padding-top: 11px;
  margin-bottom: 30px;
}

.info {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
  color: rgb(41, 67, 124);
  font-style: italic;
}

label[for="login"]::before,
label[for="pass"]::before,
label[for="pass2"]::before {
  position: relative;
  margin-left: -10px;
  content: "*";
  left: -15px;
  top: 30px;
}

label[for="agree"]::before {
  position: relative;
  content: "*";
  left: -29px;
  font-weight: bold;
  margin-left: -9px;
}

input:focus {
  background-color: rgb(245, 247, 252);
  border: 1px solid rgb(119, 135, 167);
}

.popup {
  position: absolute;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(221, 56, 56);
  top: 31px;
  left: 285px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 5px;
  z-index: 0;
}

.popup::before {
  position: absolute;
  content: "";
  padding: 15px;
  background-color: rgb(221, 56, 56);
  left: -5px;
  top: 11px;
  transform: rotate(45deg);
  z-index: 0;
}

.popup span {
  z-index: 10;
  position: relative;
}

.popup.last {
  top: 12px;
  left: 230px;
  width: 200px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
  background-color: rgb(64, 89, 139);
  color: white;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(11, 33, 77);
}

.login,
.pass,
.pass2,
.name,
.surname,
.email,
.tel,
.agree {
  display: none;
}
